AgenciaViajes/web/WEB-INF/wsdl/localhost_8080/Runt/MakeTransactionWS.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://Service2.BusinessLogic/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Service2.BusinessLogic/">

<xs:element name="makeTransaction" type="tns:makeTransaction"/>

<xs:element name="makeTransactionResponse" type="tns:makeTransactionResponse"/>

<xs:complexType name="makeTransaction">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="makeTransactionResponse">
<xs:sequence>
<xs:element name="return" type="tns:rob" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="rob">
<xs:sequence>
<xs:element name="data" type="xs:string" minOccurs="0"/>
<xs:element name="err_message" type="xs:string" minOccurs="0"/>
<xs:element name="success" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>